/* Frame container */
.frame {
    text-align: center;
    padding: 0px;
    position: absolute;
    width: 100vw;
    height: 100vh;
}

.button-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    position: relative;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.image-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.Ques {
    padding: 10px 20px;
    border-radius: 5px;
    color: rgb(0, 0, 0);
    font-size: 4.0vh;
    cursor: pointer;
    transition: background-color 0.2s;
}

.Ques:hover {
    /* background-color: #138496; */
}

.No {
    padding: 10px 20px;
    border-radius: 5px;
    color: rgb(0, 0, 0);
    font-size: 3.25vh;
    transition: background-color 0.2s;
}

.No:hover {
    /* background-color: #218838; */
}

.Yes {
    padding: 10px 20px;
    border-radius: 5px;
    color: rgb(0, 0, 0);
    font-size: 3.25vh;
    cursor: pointer;
    transition: background-color 0.2s;
}

.Yes:hover {
    /* background-color: #e02f2f; */
}

/* "ENJOY THIS" text that fades out */
.enjoy-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2rem;
    color: white;
    animation: fadeOut 2s forwards;
}

/* Fade out animation for "ENJOY THIS" text */
@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.YAYY{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 3.25vh;
    color: rgb(0, 0, 0);
}
.img1,.img2,.img3{
    width: 100%;
    height:auto;
    object-fit: contain;
}
.img1{
    margin-top: -5vh;
}
.img2{
    margin-top: 0vh;
}.img3{
    margin-top: 5vh;
}